:root {
  --bg-salm: #ebdddd;
  --prim-font: #6495ed;
  --hover-col: #a255c0;
  --brd-rad: 8px;
  --transition: 0.5s;

  /* 
  DOES NOTHING, DRY?
  margin: 0; */
  /* padding: 0; */
  /* box-sizing: border-box; */
}

* {
  background-color: var(--bg-salm);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  scroll-behavior: smooth;
}

html ::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

body {
  margin: 0;
  background-color: var(--bg-salm);
}

nav h1 {
  color: var(--prim-font);
  font-size: 30px;
}

h2 {
  font-size: 20px;
  color: var(--prim-font);
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
}

/* 
DOES NOTHING, DRY?
body {
  font-family: var(--font-family);
} */

nav {
  position: sticky;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-salm);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1); /* border-bottom: 2px var(--prim-font) solid; */
}

.nav-link {
  padding: 5px;
  text-decoration: none;
  font-weight: bolder;
  color: var(--prim-font);
}

.nav-link:hover {
  color: var(--hover-col);
  text-shadow: 2px grey;
  transition: var(--transition);
  box-shadow: 1px 4px 10px 0px black;
  border-radius: var(--brd-rad);
}

.nav-link:hover::after {
  color: var(--hover-col);
  content: " <3";
}

nav ul {
  display: flex;
  gap: 2rem;
}

/* cover this button later */
/* .moba-nav {
  color: var(--prim-font);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
} */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  flex-wrap: wrap;
  gap: 2.5rem;
  max-width: 70rem;
  margin: auto;
  padding-top: 3rem;
}

.bio {
  max-width: 25rem;
  padding: 1rem;
  border-radius: var(--brd-rad);
  text-align: justify;
  box-shadow: 1px 4px 10px 0px var(--prim-font);
  line-height: 1.6rem;
}

.read-more-btn {
  background-color: var(--bg-salm);
  border-radius: var(--brd-rad);
  border-color: var(--prim-font);
  cursor: pointer;
}

.hidden {
  display: none;
}

.moreText,
.skills-container,
.contact-container {
  display: flex;
  justify-content: center;
  align-self: center;
  max-width: 90%;
  padding: 1rem;
  margin: 3rem;
  margin-top: -0.1rem;
  border-radius: var(--brd-rad);
  text-align: justify;
  box-shadow: 1px 4px 10px 0px var(--prim-font);
  line-height: 1.6rem;
}

/* 
DOES NOTHING, DRY?
.skills-container,
.contact-container {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  max-width: 90%;
  padding: 1rem;
  margin: 3rem;
  margin-top: -0.1rem;
  border-radius: var(--brd-rad);
  text-align: justify;
  box-shadow: 1px 4px 10px 0px var(--prim-font);
} */

.project-card,
.hero-project-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-self: center;
  max-width: 25%;
  min-height: 320px;
  padding: 1rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
  border-radius: var(--brd-rad);
  text-align: justify;
  box-shadow: 1px 4px 10px 0px var(--prim-font);
  line-height: 1.6rem;
}
/* DOES NOTHING, DRY? */
/* .hero-project-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-self: center;
  max-width: 25%;
  min-width: 85%;
  min-height: 320px;
  padding: 1rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
  border-radius: var(--brd-rad);
  text-align: justify;
  box-shadow: 1px 4px 10px 0px var(--prim-font);
  line-height: 1.6rem;
  background-color: white;
  align-items: center;
} */

.hero-project-container {
  flex-flow: row wrap;
  min-width: 85%;
  line-height: 1.6rem;
  background-color: white;
  align-items: center;
}

.fake-google-project,
a > .project-hero-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 100%;
}

/* DOES NOTHING, DRY? */
/* a > .project-hero-pic {
  display: flex;
  justify-content: center;
  max-width: 100%;
  align-items: center;
} */

/* DOES NOTHING, DRY? */
/* a > .project-hero-pic:hover {
  display: flex;
  justify-content: center;
  max-width: 100%;
  align-items: center;
} */

.project-pic {
  align-self: center;
  width: 65%;
  height: 60%;
  border-radius: var(--brd-rad);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 90%;
  margin-bottom: 3rem;
  margin-left: 1.5rem;
}

.project-pic:hover {
  width: 100%;
  transition: var(--transition);
}

.hidden-title,
.skill-header,
.projects-header,
.contact-header {
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 2rem;
}

.skills-container,
.contact-container {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tech-logo,
.contact-logo {
  width: 12rem;
  height: 11.5rem;
}

.tech-logo:hover,
.contact-logo:hover {
  transition: var(--transition);
  box-shadow: 1px 4px 10px 0px black;
  border-radius: var(--brd-rad);
}

.contact-logo {
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  border-radius: var(--brd-rad);
  padding: 1rem;
  padding-inline: 2rem;
  max-width: 20%;
  height: auto;
  margin-bottom: 0.5rem;
}

/* DOES NOTHING, DRY? 
.contact-container > a {
  display: flex;
  justify-content: center;
} */

a {
  display: flex;
  justify-content: center;
}

.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

@media only screen and (max-width: 992px) {
  body {
    background-color: var(--bg-salm);
  }

  .contact-logo {
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    border-radius: var(--brd-rad);
    padding: 1rem;
    padding-inline: 2rem;
    max-width: 30%;
    height: auto;
    margin-bottom: 0.5rem;
  }
}

@media only screen and (max-width: 508px) {
  body {
    background-color: var(--bg-salm);
  }

  h3.project-title {
    text-align: left;
  }

  .bio {
    max-width: 25rem;
    padding: 1rem;
    border-radius: var(--brd-rad);
    text-align: justify;
    box-shadow: 1px 4px 10px 0px var(--prim-font);
    line-height: 1.6rem;
    margin-left: 2rem;
  }

  .project-card,
  .hero-project-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-self: center;
    max-width: 65%;
    /* max-height: 220px; */
    padding: 1rem;
    margin-left: 0rem;
    margin-bottom: 1rem;
    border-radius: var(--brd-rad);
    text-align: justify;
    box-shadow: 1px 4px 10px 0px var(--prim-font);
    line-height: 1.6rem;
  }

  .hero-img {
    max-width: 75%;
    margin: 1rem;
    padding: 1rem;
  }

  .hero-project-container {
    flex-flow: row wrap;
  }

  a > .project-hero-pic {
    display: flex;
    justify-content: center;
    max-width: 100%;
    align-items: center;
  }

  .project-pic {
    align-self: center;
    width: 95%;
    height: 70%;
    border-radius: var(--brd-rad);
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .skills-container,
  .contact-container {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    max-width: 85%;
    padding: 1rem;
    margin-top: -0.1rem;
    border-radius: var(--brd-rad);
    text-align: justify;
    box-shadow: 1px 4px 10px 0px var(--prim-font);
  }

  .contact-logo {
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    border-radius: var(--brd-rad);
    padding: 1rem;
    padding-inline: 2rem;
    width: 40%;
    height: auto;
    margin-bottom: 0.5rem;
  }

  .tech-logo,
  .contact-logo {
    width: 77%;
    height: 67%;
    /* padding-inline: 1rem; */
  }

  a {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 420px) {
  body {
    background-color: var(--bg-salm);
  }

  .hero-project-container {
    flex-flow: row wrap;
  }
  .bio {
    max-width: 25rem;
    padding: 1rem;
    border-radius: var(--brd-rad);
    text-align: justify;
    box-shadow: 1px 4px 10px 0px var(--prim-font);
    line-height: 1.6rem;
    margin: 1rem;
  }

  .hero-img {
    max-width: 75%;
    margin: 1rem;
    padding: 1rem;
  }
}
