:root {
  --bg-salm: #ebdddd;
  --prim-font: #6495ed;
  --hover-col: #a255c0;
  --brd-rad: 8px;
  --transition: 0.5s;

  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  background-color: var(--bg-salm);
}

h2 {
  font-size: 20px;
  color: var(--prim-font);
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
}

body {
  font-family: var(--font-family);
}

nav {
  position: sticky;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-salm);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  /* border-bottom: 2px var(--prim-font) solid; */
}

nav h1 {
  color: var(--prim-font);
  font-size: 30px;
}

nav a {
  padding: 5px;
  text-decoration: none;
  font-weight: bolder;
  color: var(--prim-font);
}

a:hover {
  color: var(--hover-col);
  /* font-size: 19px; */
  text-shadow: 2px grey;
  transition: var(--transition);
  box-shadow: 1px 4px 10px 0px black;
  border-radius: var(--brd-rad);
}

a:hover::after {
  color: var(--hover-col);
  content: " <3";
}

nav ul {
  display: flex;
  gap: 2rem;
}

/* cover this button later */
/* .moba-nav {
  color: var(--prim-font);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
} */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  gap: 2.5rem;
  max-width: 70rem;
  margin: auto;
  padding-top: 3rem;
}

.bio {
  max-width: 25rem;
  padding: 1rem;
  border-radius: var(--brd-rad);
  text-align: justify;
  box-shadow: 1px 4px 10px 0px var(--prim-font);
  line-height: 1.6rem;
}

.read-more-btn {
  background-color: var(--bg-salm);
  border-radius: var(--brd-rad);
  border-color: var(--prim-font);
  cursor: pointer;
}

.moreText {
  display: none;
}

.text.show-more .moreText {
  display: flex;
  justify-content: center;
  align-self: center;
  max-width: 90%;
  padding: 1rem;
  margin: 3rem;
  margin-top: -0.1rem;
  border-radius: var(--brd-rad);
  text-align: justify;
  box-shadow: 1px 4px 10px 0px var(--prim-font);
  line-height: 1.6rem;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-self: center;
  max-width: 90%;
  padding: 1rem;
  margin: 3rem;
  margin-top: -0.1rem;
  border-radius: var(--brd-rad);
  text-align: justify;
  box-shadow: 1px 4px 10px 0px var(--prim-font);
}

.tech-logo {
  width: 12rem;
  height: 11.5rem;
}

.tech-logo:hover {
  transition: var(--transition);
  box-shadow: 1px 4px 10px 0px black;
  border-radius: var(--brd-rad);
}

.project-card {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-self: center;
  max-width: 30%;
  padding: 1rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
  border-radius: var(--brd-rad);
  text-align: justify;
  box-shadow: 1px 4px 10px 0px var(--prim-font);
  line-height: 1.6rem;
}

.project-pic {
  align-self: center;
  width: 65%;
  height: 60%;
  border-radius: var(--brd-rad);
  padding-bottom: 1rem;
}
.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin-bottom: 3rem;
  margin-left: 1.5rem;
}
.hidden-title,
.skill-header,
.projects-header {
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 2rem;
}

/* REVIEW BELOW HERE */

.myName {
  display: flex;
  font-size: 30px;
  margin-left: 12px;
}

.headerNav {
  display: flex;
}

aside {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 10%;
  padding: 10px;
  margin-left: 15px;
}

.navSide {
  color: var(--prim-font);
}

body {
  margin: 0;
  background-color: var(--bg-salm);
}

@media only screen and (min-width: 600px) {
  body {
    background-color: var(--bg-salm);
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-color: var(--bg-salm);
  }
}

@media only screen and (min-width: 992px) {
  body {
    background-color: var(--bg-salm);
  }
}

@media only screen and (min-width: 1200px) {
  body {
    background-color: var(--bg-salm);
  }
}
