:root {
  --bg-salm: #ecc9c9c5;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  width: 100%;
  height: 60px;
  margin: 5px;
  background-color: var(--bg-salm);
  padding: 6px;
  background: none;
  align-items: center;
  color: cornflowerblue;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  background: none;
  height: 40px;
  border-bottom: 2px cornflowerblue solid;
}

.myName {
  display: flex;
  font-size: 30px;
  margin-left: 12px;
}

.headerNav {
  display: flex;
}

a {
  padding: 5px;
  text-decoration: none;
  font-weight: bolder;
  color: cornflowerblue;
}

a:hover {
  color: aliceblue;
  font-size: 19px;
  text-shadow: 2px grey;
}

aside {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 10%;
  padding: 10px;
}

.navSide {
  color: cornflowerblue;
}

body {
  margin: 0;
  background-color: var(--bg-salm);
}

@media only screen and (min-width: 600px) {
  body {
    background-color: var(--bg-salm);
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-color: var(--bg-salm);
  }
}

@media only screen and (min-width: 992px) {
  body {
    background-color: var(--bg-salm);
  }
}

@media only screen and (min-width: 1200px) {
  body {
    background-color: var(--bg-salm);
  }
}
